body {
  background-color: lightgray;
  font-size: 16px;
}
span:first-letter {
    text-transform:capitalize;
}
.deece {
	height: 40px;
	width: 40px;
}
.down {
	border-bottom-left-radius: 20px !important;
	height: 15px;
}
.up {
	border-bottom-right-radius: 20px !important;
	height: 15px;
}
.dice {
	float: left;
	overflow: hidden;
	position: relative;
}
.diceTop {
	display: block;
	height: auto;
	max-width: 100%;
	min-width: 100%;
}
.diceBottom {
	margin-left: 3px;
	margin-top: -3px;
}
.overlay {
	background-color: lightgray;
	color: white;
	left: 50%;
	opacity: 0.9;
	position: absolute;
	text-shadow: 0 0 5px black;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
  z-index: 2;
}
.arrow {
	width: 45%;
}
.result {
  background-color: white;
  border: 4px groove;
  border-radius: 20px;
  min-height: 80px;
  padding: 1px 0 0 4px;
  width: 98.5vw;
  align-items: center;
  display: flex;
  justify-content: center;
}
.section {
	clear: both;
	float: left;
	margin: 4px;
	position: relative;
}
.inner-section {
	float: left;
}
.highlight {
    border-color: yellow !important;
}
.rotatedButton {
    float: right;
}
.rotated {
    display: block;
    font-size: 59%;
    transform: rotate(90deg);
    border-bottom-width: 0;
    border-right-width: 0;
    margin: 24px -38px;
    padding-bottom: 0;
}

#customNumber {
    float: right;
    left: 80px;
    position: relative;
    z-index: 5;
}
#customInteger {
    position: absolute;
    top: 55px;
}
#customDiceEntry {
    font-size: 90%;
    height: 51px;
    position: absolute;
    width: 150px;
}

.ui-button-text {
  position: relative;
}
.customLabel {
  bottom: 0;
  color: black;
  font-weight: 600;
  left: 20%;
  position: absolute;
  text-shadow: -2px -2px white;
  z-index: 1;
}
