
body {
    background-color: darkkhaki;
    font-size: 16px;
}
span::first-letter {
    text-transform: capitalize;
}
.updated {
    background-color: lightgrey !important;
}
.errored {
    background: darkred none repeat scroll 0 0 !important;
    color: #fff !important;
}
.deece {
    height: 40px;
    width: 40px;
}
.down {
    border-bottom-left-radius: 20px !important;
    height: 15px;
}
.up {
    border-bottom-right-radius: 20px !important;
    height: 15px;
}
.dice {
    float: left;
}
.diceTop {
    max-width: 100%;
}
.diceBottom {
    margin-top: -3px;
}
.overlay {
    background-color: lightgray;
    color: white;
    left: 50%;
    opacity: 0.9;
    position: absolute;
    text-shadow: 0 0 5px black;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    z-index: 2;
}
.arrow {
    width: 45%;
}
.result {
    align-items: center;
    background-color: white;
    border: 4px groove;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    min-height: 80px;
    padding: 1px 0 0 4px;
}
.section {
    clear: both;
    float: left;
    margin: 4px;
    position: relative;
}
.inner-section {
    float: left;
}
.highlight {
    border-color: yellow !important;
}
.rotatedButton {
    float: right;
}
.rotated {
    display: block;
    font-size: 59%;
    margin: 24px -38px;
    transform: rotate(90deg);
}
#customNumber {
    float: right;
    left: 80px;
    position: relative;
    z-index: 5;
}
#customInteger {
    position: absolute;
    top: 55px;
}
#customDiceEntry {
    font-size: 90%;
    height: 51px;
    position: absolute;
    width: 150px;
}
.ui-button-text {
}
.customLabel {
    bottom: 0;
    color: black;
    font-weight: 600;
    position: absolute;
    z-index: 1;
    display: table-caption;
}
