
html, body {
    background-color: black;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    width: 100%;
}
.snap-content {
    background-color: #9fa38f;
    border: 2px inset lightgray;
    border-radius: 20px;
    bottom: 0;
    height: auto;
    left: 0;
    overflow-x: auto;
    overflow-y: visible;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    width: auto;
    z-index: 2;
}
.snap-drawers {
    bottom: 0;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.snap-drawer {
    bottom: 0;
    height: 100vh;
    left: auto;
    overflow: hidden;
    position: absolute;
    right: auto;
    top: 0;
    transition: width 0.3s ease 0s;
    width: 265px;
}
.drawers {
    display: none;
}
.snapjs-left .snap-drawer {
    display: block;
}
.snapjs-expand-left .snap-drawer-left, .snapjs-expand-right .snap-drawer-right {
    width: 100%;
}
