.blah {
    background: whitesmoke none repeat scroll 0 0;
    border: 4px double;
    color: black;
    font-family: times new roman;
    text-shadow: none;
}
.label {
    font-weight: bold;
    width: 5%;
}
ul {
    list-style-type: none;
}
.mainBody {
    float: left;
    height: 100vh;
    width: 95vw;
}
#spellbook {
    background-color: yellow;
    border: 5px solid black;
    display: block;
    float: right;
    height: 100vh;
    position: inherit;
    width: 30%;
    z-index: 10;
}
.collapsedTray {
    background: grey none repeat scroll 0 0;
    border: 3px inset grey;
    border-radius: 5px;
    float: left;
    height: 100vh;
    width: 2%;
}
.expandTray {
    background: grey none repeat scroll 0 0;
    height: 500px;
    left: -999px;
    opacity: 0.5;
    padding: 8px;
    position: absolute;
    white-space: nowrap;
}
.left-drawer {
    border: 4px inset black;
    border-radius: 5px;
    margin: 3px;
}
.snap-drawer-left {
    height: 97%;
    left: 0;
    z-index: 1;
}

.left-drawer > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 2px ridge black;
    border-image: none;
    border-left: 2px ridge black;
    border-radius: 5px;
    border-top: 2px ridge black;
}
